librosa
numpy
pandas
scikit-learn
pydub
resemblyzer
tensorflow
soundfile
openai-whisper
transformers
torch
requests
edge-tts
ipython
whisper
scipy
ffmpeg
torch
dash
dash-bootstrap-components
matplotlib
accelerate
sounddevice
asyncio
simpleaudio